.cardhovereffect{
    box-shadow: none;
    transition: 1s
}
.cardhovereffect:hover{
    animation: none      ;
    box-shadow: 1px 1px 30px blue;
    transform: scale(1.05);
}
@keyframes AnimateBorder {
    0% {  box-shadow:2px 2px 30px rgb(34, 177, 224); }
    50% {  box-shadow:2px 2px 30px rgb(0, 255, 183); }
    75% {  box-shadow:2px 2px 30px rgb(163, 3, 255); }
    100%{  box-shadow:2px 2px 30px rgb(34, 177, 224);}
  }