.headerheading{
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: None;
}
.headerheading:hover{
    text-decoration: underline;
    cursor: pointer;
}
.nevebarbutton{
    border:none;
    background-color:rgb(0, 0, 0) ;
    border-radius: 30px;
}
nevebarbutton:hover{
    background-color: var(--first-color-alt);
}